.card-container-detail,
.card-container {
	box-shadow: 0px 0px 20px #e8e8e8;
}

.card-container {
	border-radius: 20px;
    margin: 0px 20px 40px 20px;
    width: 336px;
	height: 350px;
}

.card-container-detail .card,
.card-container .card {
	border-radius: 20px;
	border: none;
}

.card-container .card img {
	width: 100%;
	height: 100%;
	min-height: 150px;
	max-height: 150px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-container-detail .card .card-title,
.card-container .card .card-title {
	font-size: 17px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container-detail .card-text .card-muted,
.card-container .card .card-text .card-muted {
	font-size: 70%;
    color: #8a8c90;
}

.card-container-detail .card .card-desc,
.card-container .card .card-desc {
	font-size: 14px;
	color: #8a8c90;
	text-align: justify;
}

.card-container .card .card-desc {
	height: 85px;
	overflow: hidden;
}

@media (max-width: 380px) {
	.slick-slide .card-container {
		margin: 0px auto 40px auto;
    	width: 250px;
	}

    .card-container {
    	margin: 0px 0px 40px 4px;
    	width: 321px;
	}
}

@media only screen and (min-width: 381px) and (max-width: 767px) {
	.card-container {
		width: 100%;
		max-width: 290px;
		margin: 0 auto 20px auto;
	}
}