.featurepost {
	height: 500px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}

ul.featurepost-category li {
	background: #fc0a02c2;
	padding: 5px 9px;
	font-size: 10px;
	color: #fff;
	font-weight: 600;
	letter-spacing: .25px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #c7afaf;
}

.featurepost-content h3 {
	padding: 0;
    color: #262626;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: .25px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featurepost-source li a {
	font-size: 14px;
    font-weight: 600;
    color: #7f7f7f;
}

.featurepost-content p {
	line-height: 1.7;
    overflow: hidden;
    text-align: justify;
    font-size: 15px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.featurepost-content h6 {
	font-weight: 600;
    letter-spacing: .25px;
    color: #7f7f7f;
    font-size: 17px;
}

@media (max-width: 767px) {
	.featurepost {
		height: auto !important;
	}
}