.filter {
	font-weight: 600;
    color: #262626;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-container {
    right: 0;
    top: 67px;
    width: 260px;
    z-index: 1500;
    padding: 25px;
    overflow: auto;
    position: fixed;
    background: #FFF;
    height: calc(100vh - 67px);
    border-left: 1px solid #eee;
}

.filter-container h6 {
	color: #f0442c;
}

.fltr-section ul {
	padding-left: 10px;
}

.fltr-section ul li label {
	font-size: 14px;
	color: #8a8c90;
}

@media (max-width: 380px) {
	.search {
		font-size: 23px !important;
	}

	.filter-container {
		width: 80% !important;
	}
}

@media only screen and (min-width: 381px) and (max-width: 767px) {
	.search {
		font-size: 23px !important;
	}

	.filter-container {
		width: 80% !important;
	}
}

.closefilter, .filter {
	cursor: pointer;
}