/*.search {
	font-size: 28px;
	color: #f0442c;
}*/

.filter {
	font-weight: 600;
    color: #262626;
    font-size: 15px;
    line-height: 43px;
    text-transform: uppercase;
    /*margin-right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 55px;
    background: #F60A0A;
    background-image: linear-gradient(to top left, #F60A0A, #D08719);
    color: #fff;
    box-shadow: 2px 2px 15px #d86817;
    font-size: 18px;*/
}

.filter-container {
    right: 0;
    top: 77px;
    width: 325px;
    z-index: 1500;
    padding: 25px;
    overflow: auto;
    position: fixed;
    background: #FFF;
    height: calc(100vh - 77px);
    border-left: 1px solid #eee;
}

.filter-container h6 {
	color: #f0442c;
}

.fltr-section ul {
	padding-left: 10px;
}

.fltr-section ul li label {
	font-size: 14px;
	color: #8a8c90;
}

@media (max-width: 380px) {
	.search {
		font-size: 23px !important;
	}

	.filter-container {
		width: 80% !important;
	}

	/*.filter {
		margin-right: 20px;
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
	}*/
}

@media only screen and (min-width: 381px) and (max-width: 767px) {
	.search {
		font-size: 23px !important;
	}

	.filter-container {
		width: 80% !important;
	}

	/*.filter {
		margin-right: 20px !important;
		width: 36px !important;
		height: 36px !important;
		line-height: 36px !important;
		font-size: 14px !important;
	}*/
}

.closefilter, .filter {
	cursor: pointer;
}