.article-detail {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.05);
}

.article-detail .card-body {
    padding: 40px;
}

.article-detail .card-body ul.hash-tags {
    font-size: 12px;
    font-weight: 600;
    color: #db5e5e;
}

.article-detail .card-body ul.hash-tags li {
    background-color: #eee;
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.article-detail .card-body .card-title h3 {
    font-weight: 600;
    color: #262626;
}

.article-detail .card-body p.card-text,
.article-detail .card-body p.card-text a {
    font-size: 17px;
    font-weight: 600;
    color: #7f7f7f;
}

.article-detail .card-body .card-text.card-desc {
    color: #747474;
    font-weight: normal;
    line-height: 1.8;
    font-size: 15px;
    white-space: pre-wrap;
}