.item-image {
	width: 645px;
	height: 337px;
}

.item-image a img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.item-caption h3 {
    color: #2f2f2f;
    font-size: 20px;
    line-height: 28px;
    margin-top: .5rem;
    word-break: break-word;
    text-overflow: ellipsis;
}

.item-caption p {
    font-size: 15px;
    height: 90px;
    overflow: hidden;
}