.navbar-expand-md .navbar-nav .nav-link {
    background-color: transparent;
    color: #262626;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link.active,
.custom-toggler.navbar-toggler {
    color: #fc0a05;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,5,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.menu svg {
    width: 17px;
    height: 17px;
    vertical-align: inherit;
    color: #f5f7fb;
}

.menu {
    background: #F60A0A;
    background-image: linear-gradient(to top left, #F60A0A, #D08719);
    border-radius: 100px;
    height: 40px;
    line-height: 40px;
    color: #f5f7fb;
    font-family: Arial;
    width: 40px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 15px #d86817;
}

.closebox {
    border: 2px solid #fff4e6;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 25px;
    position: absolute;
    right: 0;
    line-height: 50px;
    text-align: center;
    color: #fff4e6;
    opacity: .6;
    cursor: pointer;
    z-index: 1501;
}

.search-container {
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    position: fixed;
    background: #F60A0A;
    background-image: linear-gradient(to top left, #F60A0A, #D08719);
}

.search-container .search-box {
    margin-top: 40%;
}

.search-box h1 {
    color: #fff4e6; 
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1px;
    opacity: .6;
}

.search-container input[type="text"] {
    color: #fff4e6;
    border-radius: 0px;
    border-color: #fff4e6;
    background: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 25px;
    opacity: .6;
}

.search-container input[type="text"]:active,
.search-container input[type="text"]:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.sidebar-btn {
    color: #e02c26;
    cursor: pointer;
}

@media (max-width: 380px) {
    .search-container {
        padding: 15px;
    }
    nav .navbar-brand {
        margin-left: 0px;
    }
    .search-box {
        margin: 10px 0px;
    }
}

@media only screen and (min-width: 381px) and (max-width: 767px) {
    .search-container {
        padding: 15px;
    }
    nav .navbar-brand {
        margin-left: 0px;
    }
}

.menu-icons {
    width: 18px;
    height: 18px;
    margin-top: -3px;
}

.search-box .form-control:focus {
    outline: none;
    border: 1px solid #ddd;
    box-shadow: none;
}

.search-box .input-group-append {
    cursor: pointer;
}

.login {
    color: #262626;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

/*   toogle-switch   */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}