.boxtitle {
	position: relative;
}

.boxtitle h4 {
	background: #e02c26;
    color: #fff;
    font-weight: 700;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    width: auto;
    font-size: 14px;
}

.boxtitle:after{
    background: #e6e6e6 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}