.carousel-caption {
	position: absolute;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding: 20px;
    color: #fff;
    text-align: left;
    background-color: rgba(34, 34, 34, 0.55);
}

.carousel-caption h3 {
	font-size: 20px;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.carousel-caption p {
	font-size: 15px;
    height: 92px;
    overflow: hidden;
}

.carousel-item img {
    height: 550px;
}

@media (max-width: 767px) {
    .carousel-item img {
        min-height: auto;
    }
}