.tab-box ul.nav-tabs li {
	margin-bottom: 0px;
}

.tab-box ul.nav-tabs li a {
	background: #fff;
    color: #2f2f2f;
    font-weight: 700;
    height: 30px;
    letter-spacing: 0.3px;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    width: auto;
    font-size: 14px;
    border-radius: 0px;
    border: none;
}

.tab-box ul.nav-tabs li a.active,
.tab-box ul.nav-tabs li a:hover {
	background: #e02c26;
    color: #fff;
}

.tab-box .tab-content {
	margin-top: 40px;
}

.tab-box .tab-content .media {
	margin-bottom: 30px;
}

.tab-box .tab-content .media a {
	width: 300px;
	height: 175px;
	margin: 0 auto;
}

.tab-box .tab-content .media a img {
	width: 100%;
	height: 100%;
}

.tab-box .tab-content .media .media-heading {
	font-size: 17px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 28px;
}

.tab-box .tab-content .media .media-body {
	font-size: 14px;
    font-weight: 400;
    color: #3b5265;
    height: 145px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .tab-box .tab-content .media {
    	display: block;
	}

	.tab-box .tab-content .media a.mr-4 {
		margin-right: 5px !important;
	}

	.tab-box .tab-content .media a img {
		margin-bottom: 15px;
	}
}