.card.toogle-card {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
  border: none !important;
  transition: 0.3s;
  padding: 15px;
}

.toogle-card .card-header {
  padding: 0px;
  border-bottom: none;
  background-color: inherit;
}

.toogle-card .card-header h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #262626;
}

.article-card ul li a {
  color: #7f7f7f;
  font-weight: 600;
}

.toogle-card h5 .collapsed .fa-angle-down:hover {
  color: #fc0a02c2;
  cursor: pointer;
}

.toogle-card .card-body {
  padding: 18px 0px;
}

.toogle-card ul,
.toogle-card .card-body ul li h6 {
  font-size: 12px;
  color: #7f7f7f;
  letter-spacing: 0.3px;
}

/*.toogle-card .card-body ul:not(.sharelink) {
  padding-right: 100px;
}*/

.article-card ul.sharelink li,
.toogle-card .card-body ul.sharelink li {
  font-size: 15px;
}

.toogle-card .card-body ul.sharelink li:nth-last-child(2) div {
  width: 55px;
}

.toogle-card .card-body ul li h4 {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

ul.featurepost-category li {
  font-size: 12px;
  color: #fc0a02c2;
  font-weight: 600;
  letter-spacing: .25px;
}

.inside-post > li {
  width: 100%;
}